{% if page.url contains '/amp/' %}
<amp-iframe width="600" height="400" sandbox="allow-scripts allow-same-origin" layout="responsive" frameborder="0" src="/comments.html"></amp-iframe>
{% else %}
<div id='disqus_thread'></div>
<script>
var disqus_config = function () {
  this.page.url = '{{ page.url | absolute_url }}';
  this.page.identifier = '{{ page.url | absolute_url }}';
};
(function() { 
  var d = document, s = d.createElement('script');
  s.src = 'https://' + '{{ site.disqus_shortname }}' + '.disqus.com/embed.js';  
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
})();
</script>
{% endif %}
