<footer aria-label='Credit Section' id='credit-wrapper' itemtype='https://www.schema.org/WPFooter' class="sidebar-footer">
    <meta content='#credit-wrapper' itemprop='cssSelector'>
    <p><span itemprop='copyrightYear'></span>2023</span>-{{ site.time | date: "%Y" }} © <a href='{{ site.url }}' itemprop='url' title='{{ site.title }}'><span itemprop='copyrightHolder name alternateName publisher'>{{ site.author }}</span></a>.</p>
    <p><span itemprop='copyrightNotice'>Hak Cipta Dilindungi.</span></p>
</footer>