<nav id="sidebar" class="sidebar">
    <button id="close-sidebar" class="close-btn">&times;</button>
    <ul class="menu">
        <li><a href="#">DMCA</a></li>
        <li><a href="#">Hubungi Kami</a></li>
        <li><a href="#">Laman Diskusi</a></li>
        <li><a href="#">Keijakan Privasi</a></li>
        <li><a href="#">Tentang Kami</a></li>
        <li><a href="#">Testimoni</a></li>
        <li class="dropdown">
            <a href="#">Proyek Kami &#x25BE;</a>
            <ul class="submenu">
                <li><a href="#">ASIBUKA Logistics</a></li>
                <li><a href="#">ASIBUKA Food</a></li>
                <li><a href="#">ASIBUKA Media</a></li>
                <li><a href="#">ASIBUKA Talent</a></li>
                <li><a href="#">ASIBUKA Store</a></li>
            </ul>
        </li>
    </ul>
</nav>
    <div id="overlay" class="overlay"></div>
