<nav aria-label="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList" class="breadcrumb hide-on-print">
    <small><!-- Position 1: Home -->
    <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <a itemprop="item" href="{{ "/" | absolute_url }}">
        <span itemprop="name">Beranda</span>
      </a>
      <meta itemprop="position" content="1" />
    </span>
    
    {% assign pos = 2 %}
  
    <!-- Position 2: Category (Only first category shown for simplicity) -->
    {% if page.categories and page.categories.size > 0 %}
      {% assign category = page.categories[0] %}
      &nbsp;›&nbsp;
      <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
        <a itemprop="item" href="{{ '/categories/' | append: category | append: '/' | relative_url }}">
          <span itemprop="name">{{ category }}</span>
        </a>
        <meta itemprop="position" content="{{ pos }}" />
      </span>
      {% assign pos = pos | plus: 1 %}
    {% endif %}
    <!-- Position 3: Post title -->
    &nbsp;›&nbsp;
    <span itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
      <span itemprop="name">{{ page.title }}</span>
      <meta itemprop="position" content="{{ pos }}" />
    </span>
</small>
  </nav>