<!doctype html>
<html amp>
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ page.url | absolute_url | replace: '/amp/', '/' }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>
      body {visibility:hidden}
    </style>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
    <style amp-custom>
      /* Your AMP CSS here */
    </style>
    <title>{{ page.title }}</title>
  </head>
  <body>
    <article>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
  </body>
</html>
