<!DOCTYPE html>
<html amp>
  <head>
    <meta charset="utf-8">
    <link rel="canonical" href="{{ page.url | absolute_url | replace: '/amp/', '/' }}">
    <meta name="viewport" content="width=device-width,minimum-scale=1,initial-scale=1">
    <style amp-boilerplate>body{visibility:hidden}</style>
    <style amp-custom>{% include style.css %}</style>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
  </head>
  <body>
    <article>
      <h1>{{ page.title }}</h1>
      {{ content }}
    </article>
  </body>
</html>
