<!DOCTYPE html>
<html amp lang="{{ page.lang | default: site.defaults.lang }}">
  <head>
    {% include meta.html %}
    <style amp-boilerplate>body{visibility:hidden}</style>
    <style amp-custom>{% include style.css %}</style>
    <script async src="https://cdn.ampproject.org/v0.js"></script>
  </head>
  <body>
    {% include header.html %}
    {% include nav.html %}
    {% include top-info.html %}
    <article>
      {{ content }}
    </article>
    {% include footer.html %}
  </body>
</html>
