---
layout: default
---
{% assign posts = site.posts | where_exp: "post", "true" %}
{% if page.type == "tag" %}
  {% assign posts = posts | where_exp: "post", "post.tags contains page.tag" %}
{% elsif page.type == "category" %}
  {% assign posts = posts | where_exp: "post", "post.categories contains page.category" %}
{% elsif page.type == "author" %}
  {% assign posts = posts | where_exp: "post", "post.author == page.author" %}
{% elsif page.type == "year" %}
  {% assign posts = posts | where_exp: "post", "post.date | date: '%Y' == page.year" %}
{% elsif page.type == "month" %}
  {% assign posts = posts | where_exp: "post", "post.date | date: '%Y-%m' == page.year | append: '-' | append: page.month" %}
{% endif %}

<p>{{ page.layout }}</p>
<p>{{ page.type }}</p>

<h1 class='main-heading'>
  {{ page.title }}
</h1>

{% if posts and posts != empty %}
<div itemscope itemtype="https://schema.org/ItemList">
    {% for post in posts %}
    <article class="post-container" itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <meta itemprop="position" content="{{ forloop.index }}">
      <div class="post-image">
        <a href="{{ post.url }}" title="{{ post.title }}" itemprop="url">
          <img src="{{ post.image }}"
            width="1600"
            height="900"
            loading="lazy" 
            class="lazy" 
            alt="{{ post.title }}"
            title="{{ post.title }}">
        </a>
      </div>

      <div class="post-content">
        <h2>
          <a href="{{ post.url }}" title="{{ post.title }}" itemprop="name">{{ post.title }}</a>
        </h2>
        <p class="author">
          <strong>Author:</strong> <span itemprop="author">{{ post.author }}</span>
        </p>
        <p class="summary" itemprop="description">{{ post.description }}</p>
      </div>
    </article>
    {% endfor %}
</div>  
{% else %}
  <p>Tidak ada konten di arsip ini.</p>
{% endif %}
