---
layout: default
lang: "id"
---
<h1 class='main-heading'>
    {% if page.type == "category" %}
      {{ page.title }}
  
    {% elsif page.type == "tag" %}
      {{ page.title }}
  
    {% elsif page.type == "year" %}
      {% assign year = page.url | split: '/' | last %}
      {{ year }}
  
    {% elsif page.type == "month" %}
      {% assign parts = page.url | split: '/' %}
      {% assign year = parts[2] %}
      {% assign month_num = parts[3] %}
  
      {% assign bulan = "" %}
      {% case month_num %}
        {% when "01" or "1" %} {% assign bulan = "Januari" %}
        {% when "02" or "2" %} {% assign bulan = "Februari" %}
        {% when "03" or "3" %} {% assign bulan = "Maret" %}
        {% when "04" or "4" %} {% assign bulan = "April" %}
        {% when "05" or "5" %} {% assign bulan = "Mei" %}
        {% when "06" or "6" %} {% assign bulan = "Juni" %}
        {% when "07" or "7" %} {% assign bulan = "Juli" %}
        {% when "08" or "8" %} {% assign bulan = "Agustus" %}
        {% when "09" or "9" %} {% assign bulan = "September" %}
        {% when "10" %} {% assign bulan = "Oktober" %}
        {% when "11" %} {% assign bulan = "November" %}
        {% when "12" %} {% assign bulan = "Desember" %}
      {% endcase %}
  
      {{ bulan }} {{ year }}
  
    {% endif %}
  </h1>
{% if page.posts and page.posts != empty %}
<div itemscope itemtype="https://schema.org/ItemList">
    {% for post in page.posts %}
    <article class="post-container" itemscope itemtype="https://schema.org/ListItem" itemprop="itemListElement">
      <meta itemprop="position" content="{{ forloop.index }}">
      <div class="post-image">
        <a href="{{ post.url }}" title="{{ post.title }}" itemprop="url">
          {% if page.url contains "/amp/" %}
    <amp-img 
      src="{{ post.image }}" 
      alt="{{ post.title }}" 
      width="16" 
      height="9" 
      layout="responsive">
    </amp-img>
  {% else %}
    <img 
      src="{{ post.image }}"
      width="1600"
      height="900"
      loading="lazy" 
      class="lazy" 
      alt="{{ post.title }}">
  {% endif %}
  
        </a>
      </div>
  
      <div class="post-content">
        <h2>
          <a href="{{ post.url }}" title="{{ post.title }}" itemprop="name">{{ post.title }}</a>
        </h2>
        <p class="author">
          <strong>Author:</strong> <span itemprop="author">{{ post.author }}</span>
        </p>
        <p class="summary" itemprop="description">{{ post.description }}</p>
      </div>
    </article>
    {% endfor %}
  </div>  
{% else %}
  <p>Tidak ada konten di arsip ini.</p>
{% endif %}