<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang }}">
<head>
  {% include meta.html %}
  <style>{% include style.css %}</style>
  {% include html/json-homepage.html %}
  {% if page.url contains "/search" %}<link rel="dns-prefetch" href="//unpkg.com"><link rel="preload" as="script" href="https://unpkg.com/lunr/lunr.js"><script src="https://unpkg.com/lunr/lunr.js"></script>{% endif %}{% include script-head.js %}
</head>
<body class="light">
{% include header.html %}
{% include nav.html %}
{% include html/leaderboard_ads.html %}
<div class="layout hide-on-print">
<main aria-label="Main Wrapper" class="content-wrapper hide-on-print" id="content-wrapper">
{{ content }}
</main>
{% include html/right-sidebar.html %}
</div>
{% include noprint.html %}
{% include script-body.js %}
</body>
</html>
