<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="keywords" content="{{ page.keywords }}">
    <meta name="author" content="{{ page.author }}">
    <meta name="robots" content="{{ page.robots}}">
    <!-- Facebook Open Graph -->
    <meta property="og:title" content="{{ page.title }}">
    <meta property="og:description" content="{{ page.description }}">
    <meta property="og:image" content="{{ page.thumbnail }}">
    <meta property="og:url" content="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <meta property="og:type" content="website">
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content="{{ page.title }}">
    <meta name="twitter:description" content="{{ page.description }}">
    <meta name="twitter:image" content="{{ page.thumbnail }}">
    <!-- Canonical -->
    <link rel="stylesheet" href="{{ '/assets/css/style.css' | relative_url }}">
    <link rel="canonical" href="{{ site.url }}{{ page.url | replace:'index.html','' }}">
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <!-- Structured Data -->
    <script type="application/ld+json">
    {
      "@context": "https://schema.org",
      "@type": "WebPage",
      "name": "{{ page.title }}",
      "description": "{{ page.description }}",
      "url": "{{ site.url }}{{ page.url | replace:'index.html','' }}"
    }
    </script>
</head>
<body>
    {% include header.html %}
    
    <main>
        {{ content }}
    </main>

{% include footer.html %}
</body>
</html>
